<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.2">
		<title>{{title}}</title>
		<!-- Bootstrap -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
		  <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
		<![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        {% block head %}{% endblock %}
	</head>
	<body>
	<style type="text/css">
	.bs-docs-footer {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 50px;
		color: #767676;
		text-align: center;
		border-top: 1px solid #E5E5E5;
	 }
	{% block css %}{% endblock %}
	</style>
	<div class="container">
		<center><h1><span class="label label-primary">{{title}}</span></h1></center>
		<br>
		{% block content %}{% endblock %}
	</div>
	<footer class="bs-docs-footer" role="contentinfo">
		<div class="container">
		Powered by MUSELA©
		<br><br><img src="/static/img/logo.png" height="45" width="45"/>
		</div>
	</footer>

  </body>
</html>
