{% extends 'base.html' %}
{% block css %}
      .audiojs {width: 100%; background: #404040;}
{% endblock %}
{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<audio src="/static/media/{{file.filename}}" preload="auto" autoplay="autoplay"/>
		</div>
		<div class="panel-body">
			<span class="badge">{{file.tag}}</span> {{file.desc}}
		</div>
	</div>
	<nav>
		<ul class="pager">
			<!--
			{% if file.id > 1 %}
				<li><a href="/play/{{file.id-1}}"><span class="glyphicon glyphicon-fast-backward"></span> Previous</a></li>
			{% endif %}
			<li><a href="/play/{{file.id+1}}"><span class="glyphicon glyphicon-fast-forward"></span> Next</a></li>
			-->
			<li><a href="/list"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		</ul>
	</nav>
	<script src="/static/audiojs/audio.min.js"></script>
	<script>
	  audiojs.events.ready(function() {
		var as = audiojs.createAll();
	  });
	</script>
{% endblock %}