{% extends 'base.html' %}
{% block head %}
	<script src="/static/mediaelement/mediaelement-and-player.min.js"></script>
	<link rel="stylesheet" href="/static/mediaelement/mediaelementplayer.min.css"/>
	
{% endblock %}
{% block css %}
	.mejs-container {
		background: transparent;
	}

	.mejs-container .mejs-controls {
		background:transparent;
	}
{% endblock %}
{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<audio id="player" src="/static/media/{{file.filename}}" type="audio/mp3" controls autoplay style="width:100%;" data-mejsoptions='{"alwaysShowControls": true}'>
				<object>
					<param name="autostart" value="true">
					<param name="src" value="/static/media/{{file.filename}}">
					<param name="autoplay" value="true">
					<param name="controller" value="true">
					<embed src="/static/media/{{file.filename}}" controller="true" autoplay="true" autostart="true" type="audio/mp3">
				</object>
			</audio>
		</div>
		{% if file.desc != "" %}
		<div class="panel-body">
			<span class="badge">{{file.tag}}</span> {{file.desc}}
		</div>
		{% else %}
		<div class="panel-body">
			<span class="badge">{{file.tag}}</span> {{file.label}}
		</div>
		{% endif %}
	</div>
	<nav>
		<ul class="pager">
			{% if previous_id %}
				<li><a href="/play/{{previous_id}}"><span class="glyphicon glyphicon-fast-backward"></span> Previous</a></li>
			{% endif %}
			<li><a href="/list"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			{% if next_id %}
			<li><a href="/play/{{next_id}}"><span class="glyphicon glyphicon-fast-forward"></span> Next</a></li>
			{% endif %}
		</ul>
	</nav>
	<script>
		$('audio').mediaelementplayer();
	</script>
{% endblock %}