{% extends 'base.html' %}
{% block head %}
    <script src="/static/mediaelement/mediaelement-and-player.min.js"></script>
    <link rel="stylesheet" href="/static/mediaelement/mediaelementplayer.css"/>
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<audio id="player" src="/static/media/{{file.filename}}" type="audio/mp3" controls autoplay style="width:100%;"/>
		</div>
		<div class="panel-body">
			<span class="badge">{{file.tag}}</span> {{file.desc}}
		</div>
	</div>
	<nav>
		<ul class="pager">
			<!--
			{% if file.id > 1 %}
				<li><a href="/play/{{file.id-1}}"><span class="glyphicon glyphicon-fast-backward"></span> Previous</a></li>
			{% endif %}
			<li><a href="/play/{{file.id+1}}"><span class="glyphicon glyphicon-fast-forward"></span> Next</a></li>
			-->
			<li><a href="/list"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		</ul>
	</nav>
    <script>
        $('audio,video').mediaelementplayer({audioWidth: -1});
    </script>
{% endblock %}